header {
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #fff;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    font-size: 15px;
    padding: 0 20px;
    width: 1152px;
    margin: 0 auto;
    h1 {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 45%;
        left: 105%;
        width: 2px;
        height: 30px;
        background: #999;
      }
      a {
        display: block;
        width: 200px;
        height: 70px;
        background: url("../picture/logo.png") no-repeat ;
        background-size: cover;
        text-indent: -999em;
      }
      span{
        position: absolute;
        font-size: 23px;
        font-weight: 400;
        top: 40%;
        left: 115%;
        color: rgba(0,0,0,.65);
        white-space: nowrap;
      }
    }
  }
}